* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    background-color: #FFFFFF;
  }

header {
    background :#353839;
    padding: 10px;
    text-align: center;
    color:#FFFFFF;
    font-size: x-large;
    font-family: "Comic Sans MS", "Times New Roman", Times, serif;
    width: 100%;
}

aside {
    background-color: #F8F8F8;
    width: 30%;
    float: left;
}

aside .searchBlock {
    margin: 20px;

}

main {
    width: 70%;
    float: right;
}

ul{
    list-style-type: none;
}

/* Style for Uv index value */

.yellow span{
    background-color: yellow;

}

.green span {
    background-color : lime;
    padding: 0px 20px 0px 0px;
    border-radius: 5px;
    text-align: center;

}

.red span{
    background-color: red;
}

/* Style for current-weater-display section */
#current-weather-display {
    margin : 20px;
    border:1px solid #C0C0C0 ;
    border-radius: 5px;
    

}

#current-weather-display h1{
    margin :45px 0px 0px 45px;
    float : left;
}

#current-weather-display img{
    margin :0px;
    float : left;
}

#current-weather-display ul{
    clear:both;
    margin: 45px 0px 0px 45px;
}

#current-weather-display ul li{
    margin-bottom: 20px
}

/* style for forecast section */
#forecast{
    margin: 20px;
}

#forecast ul{
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

#forecast ul li {
    background-color:cornflowerblue;
    padding: 20px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

/* Style for search history */
a {
    
}